@{
    ViewBag.Title = "User Home Page";
}

<div class="div-block"></div>
<div class="add_remove"><a href="#" class="button_remove w-button">x</a><a href="#" class="button_add w-button">+</a></div>
<div class="product-view w-container"><img src="images/product_image.png" width="600" height="600" srcset="images/product_image.png 500w, images/product_image.png 600w" sizes="(max-width: 479px) 90vw, (max-width: 767px) 80vw, (max-width: 991px) 582.390625px, 600px" class="product-image"></div>
<div class="section">
    <div class="product-name">Official Product Name Label Title Model Etc</div>
</div>
<div class="product-description">This is where the product description can go. Regardless of how long the description is, it should fit nicely within this space. As an alternative, we could opt to go with the Product Summary. In either case, this is where it will go.</div>