@{
    ViewBag.Title = "WishList Page";
}

@if (Request.IsAuthenticated)
{


    foreach (var item in Model)
    {


        <div class="div-block"></div>
        <div class="favorite-item">
            @Html.ActionLink("REMOVE", "RemoveFromWishList", "ProductBrowse", new { pid = item.Id },  htmlAttributes: new { @class = "remove_favorite w-button" })
            <img src="@item.LargeImage" width="100" class="favorite_item_image">
            <div class="favorite_product_name">@item.Title</div><a href="@item.DetailPageURL" class="shop_favorite w-button">SHOP</a>
        </div>

 

    }

}
